[state]
seat = f654f7da-75e1-41e2-978d-762fe89dd6ad
last_update_check = 1710899921
offered_desktop = True
window_w = 1282
window_h = 897
window_x = 0
window_y = 0
last_dir = 
last_open = 
last_vendor = Baofeng
last_model = UV-17Pro
last_port = /dev/ttyUSB0
recent0 = /usr/lib/python3.11/site-packages/chirp/stock_configs/US CA Railroad Channels.csv
recent1 = /usr/lib/python3.11/site-packages/chirp/stock_configs/US NOAA Weather Alert.csv
recent2 = /mnt/Togapi/Downloads/Documents/Baofeng_UV-17Pro_20240319.img

[clone_prompts]
pre_download_baofeng_uv-17pro = True
pre_download_baofeng_uv-17progps = True
pre_download_baofeng_uv-17 = True

[bandplan]
north_america = True

[repeaterbook]
bands = 2 Meter Band,70 Centimeter Band
lat = 
lon = 
dist = 
state = Oregon
country = United States
service = Amateur
fmconv = True

[dmrmarc]
city = Portland
state = Oregon
country = USA

